:root {
    --primary-white: #FFFFFF;
    --secondary-white: #FFFEF9;
    --black: #1F271B;
    --primary-orange: #FF8811; 
    --accent-orange: #FFA53D; 
    --highlight-orange: #FFC669; 
    --subtle-orange: #FFD896; 
  }
  
  body {
    background-color: var(--primary-white);
  }

  /* Navigation Sectin Start*/

nav{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav {
    background-color: var(--primary-white);
  }
  .menu-link {
    color: var(--primary-orange);
    position: relative;
  }
  
  .menu-link:hover, .menu-link:focus  {
    color: var(--primary-orange);
  }
  
  .menu-link::after {
    content: "";
    position: absolute;
    background-color: var(--primary-orange);
    height: 10px;
    width: 0;
    left: 0;
    bottom: -12px;
    border-radius: 50px;
    transition: 0.2s;
  }
  
  .menu-link:hover::after {
    width: 100%;
  }
  /* Navigation Section End */

/* Article Section Start */
#article{
    font-family: Reem Kufi;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    
  }
  #card-img{
    width: 220px;
    height: 220px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    backdrop-filter: (4px);
    /* margin-left: 150px; */
  }
  #article-btn1{
    background-color: #FF8811;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom:40px;
    font-size: 17px;
    width: 180px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    border:  none;
  }
  #article-btn2{
    background-color: #FF8811;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom:40px;
    font-size: 17px;
    width: 180px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    border: none;
  }
  #article-btn3{
    background-color: #FF8811;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom:40px;
    font-size: 17px;
    width: 180px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    border: none;
  }
  /* Article Section End */

  /* Footer Section Start */
  #footer{
    background-color: var(--subtle-orange);
  }