/* General */

:root {
  --primary-white: #FFFFFF;
  --secondary-white: #FFFEF9;
  --black: #1F271B;
  --primary-orange: #FF8811; 
  --accent-orange: #FFA53D; 
  --highlight-orange: #FFC669; 
  --subtle-orange: #FFD896; 
} 

body {
  background-color: var(--primary-white);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Reem Kufi', sans-serif;
  font-weight: 900;
  color: var(--black);
  line-height: 1.8;
}

p {
  font-family: 'Popoins', sans-serif;
}

.divide {
  border-top: 12px solid var(--primary-orange);
  opacity: 1;
}


/* Navigation */

nav{
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.nav {
  background-color: var(--primary-white);
}
.menu-link {
  color: var(--primary-orange);
  position: relative;
}

.menu-link:hover, .menu-link:focus  {
  color: var(--primary-orange);
}

.menu-link::after {
  content: "";
  position: absolute;
  background-color: var(--primary-orange);
  height: 10px;
  width: 0;
  left: 0;
  bottom: -12px;
  border-radius: 50px;
  transition: 0.2s;
}

.menu-link:hover::after {
  width: 100%;
}

/* Landing */

.landing {
  background: rgb(255,136,17);
  background: linear-gradient(180deg, #FF8811 12.7%, #FFC669 37.7%, #FFA53D 65.57%, #FBDEAF 85.25%, #FFFFFF 100%);
}

.slogan {
  font-family: 'Reem Kufi Ink', sans-serif;
  color:#000;
}

/* Benefits */

.btn {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  background-color: var(--primary-orange);
  color: var(--primary-white);
}

.btn:hover {
  background-color: var(--black);
  color: var(--primary-white);
  transform: scale(0.98);
}

/* Updated Posts */

.update-img {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
}

.update-key {
  width: 85%;
  right: -5%;
  bottom: -35%;
  z-index: -1;
}

.update-separator {
  width: 100%;
  height: 10px;
  background-color: var(--primary-orange);
  border-radius: 20px;
  margin: 50px 20px
}

/* Q&A Section Start */
<<<<<<< HEAD
#QA h1{
  /* justify-content: center;
  margin-top: 2000px; 
  position: absolute; 
  color: black; 
  font-size: 55px; 
  font-family: Reem Kufi; 
  font-weight: 700; 
  word-wrap: break-word */
  font-family: Reem Kufi;
  font-weight: bold;
  margin-top: auto;
  text-align: center;
}
#QA #card{
  margin-left: 280px; 
  border-radius: 50px; 
  background-color: #ffddba; 
  width: 500px; 
  height: 320px;
  z-index: 1; 
  position: absolute; 
=======

.wrapper {
  background-color: #FFE6BC;
  width: 80%;
  padding: 25px 0;
  margin: 0 auto;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
>>>>>>> d6f1011642c96e8344f2b64a6d86327dba97feed
}

.logo {
  width: 25%;
  margin-top: 30px;
}

.question {
  position: absolute;
  top: 20px;
  right: 30%;
  width: 10%;
}

.text-wrapper {
  background-color: var(--highlight-orange);
  border-radius: 30px;
  padding: 20px;
  width: 70%;
  height: 50%;
  margin-top: 20px;
  position: relative;
  z-index: 1;
  letter-spacing: 2px;
}

.text-wrapper::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid var(--highlight-orange);
  position: absolute;
  top: -60px;
  right: 60px;
  z-index: -1;
  border-top-left-radius: 10px;
}

.qna-carousel-btn{
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.qna-carousel-btn:last-of-type {
  right: 0;
}

.carousel-button {
  background-color: var(--primary-orange);
  font-size: 20px;
  color: var(--black);
  padding: 20px;
  border-radius: 50%;
  cursor: pointer;
}

/* Our Recommendation Section Start */

.recommendations-carousel{
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 30px);
  gap: 2rem;
  overflow: hidden;
}

.card {
  border: 0;
}
<<<<<<< HEAD
#recommend-btn1{
  background-color: #FF8811;
  margin-top: 20px;
  margin-left: 100px;
  font-size: 15px;
  width: 180px;
  height: 40px;
  text-align: center;
  font-weight: bold;
}
#recommend-btn2{
  background-color: #FF8811;
  margin-top: 20px;
  margin-left: 150px;
  font-size: 15px;
  width: 180px;
  height: 40px;
  text-align: center;
  font-weight: bold;
}
#recommend-btn3{
  background-color: #FF8811;
  margin-top: 20px;
  margin-left: 150px;
  margin-bottom: 100px;
  font-size: 15px;
  width: 180px;
  height: 40px;
  text-align: center;
  font-weight: bold;
=======

.recommendations {
  position: relative;
}

.recommendations i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.recommendations i:first-of-type {
  left: 0;
}

.recommendations i:last-of-type {
  right: 0;
}

@media screen and (max-width: 800px) {
  .recommendations-carousel {
    grid-auto-columns: calc((100% / 2) - 16px);
  }
}

@media screen and (max-width: 600px) {
  .recommendations-carousel {
    grid-auto-columns: 100%;
  }
>>>>>>> d6f1011642c96e8344f2b64a6d86327dba97feed
}

/* Volunteer */

.volunteer {
  background-color: var(--accent-orange);
}

.volunteer-heading {
  color: var(--primary-white);
<<<<<<< HEAD
}

/* Responsive Section Start */
@media (max-width:1080px) {
  .home-text{
      padding: 0 100px;
  }
  .navbar{
      display: none;
  }
}
@media (max-width:991px) {
  header{
      padding: 12px 2rem;
  }
  .home-text{
      padding: 0 5%;
  }
  .home-text h1{
      font-size: 3rem;
  }
  section{
      padding: 10px 0px;
  }
}
@media (max-width:900px) {
  header{
      padding: 12px 2rem;
  }
  section{
      padding: 0px 10px;
  }
  .home-text h1{
      font-size: 2rem;
  }
  .btn{
      padding: 0.5rem 1.1rem;
  }
}
@media (max-width:470px) {
  .footer{
      flex-direction: column;
      align-items: center;
      row-gap: 1rem;
  }
}
@media (max-width:370px) {
  /* *{
      margin-right: 0px;
      padding-right: 0px;
  } */
  header {
      padding: 6px 4%;
  }
=======
  font-weight: 900;
>>>>>>> d6f1011642c96e8344f2b64a6d86327dba97feed
}